// 公用颜色
$colorTextMain: #333;
$colorMainBoxShadow: #e2e2e2;
$colorBlue: #06aaff;
$colorGay: #eef0f3;
$colorGay1: #c8d1d8;
$colorGay2: #e9eaed;
$colorGay3: #5b5f6d;

// 页面宽度
$wrap: 1200px;

// 透明兼容写法
@mixin opacity($number) {
  opacity: $number;
  filter: alpha(opacity=#{$number * 100});
}

// border
@function border-1($color) {
  @return 1px solid $color;
}
@function border-2($color) {
  @return 2px solid $color;
}
@function border-3($color) {
  @return 3px solid $color;
}

%navJustify{
  text-align: justify;

  &:after{
    content: "";
    display: inline-block;
    width: 100%;
  }
}

%ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
