// 主体文字颜色
$main-text-color: #687686;

// 主体阴影颜色
$box-shadow-color: #e2e2e2;

// 主体灰色
$main-gay-color: #fbfbfb;

// 公用颜色
$color-blue: #06aaff;
$colorGay: #eef0f3;
$colorGay1: #c8d1d8;
$colorGay2: #e9eaed;
$colorGay3: #5b5f6d;

// 页面宽度
$container-wrap: 1200px;

// 主体文字大小
$main-font-size: 14px;

// 透明兼容写法
@mixin opacity($number) {
  opacity: $number;
  filter: alpha(opacity=#{$number * 100});
}

// border
@function border-1($color) {
  @return 1px solid $color;
}
@function border-2($color) {
  @return 2px solid $color;
}
@function border-3($color) {
  @return 3px solid $color;
}

%navJustify{
  text-align: justify;

  &:after{
    content: "";
    display: inline-block;
    width: 100%;
  }
}

%ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
