// 设置标签默认样式
blockquote,
body,
button,
caption,
dd,
div,
dl,
dt,
fieldset,
figure,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
input,
legend,
li,
menu,
ol,
p,
pre,
table,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: $main-font-size;
}

button,
input,
select,
textarea {
  outline: 0;
  border: 0;
  background: none;
}

li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

img {
  max-width: 100%;
  vertical-align: top;
  border: 0;
  -ms-interpolation-mode: bicubic;
  -webkit-touch-callout: none;
}

a {
  text-decoration: none;
  color: $main-text-color;
  transition: .5s;

  &:hover {
    color: $color-blue;
  }
}
