@import "./common";
@import "./tag";
@import "./class";
@import "./iconfont";

::selection{
  background: $colorBlue;
  color: #fff;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: #e4e4e4;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: $colorBlue;
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
}

.iconfont-colour {
  width: 30px;
  height: 30px;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

body {
  overflow-x: hidden;
  background: $colorGay2;
  font-size: 14px;
  font-family: "PingFangSC-Regular", Microsoft Yahe;
  font-weight: lighter;
  color: $colorTextMain;
}

.main-wrap{
  margin: 50px auto 0;
}

.sidebar-wrap{
  .link{
    a{
      display: block;
      width: 49%;
      margin-top: 10px;
      text-align: center;
    }
  }
}

@media screen and (max-width: 1200px) {
  .hide-1200px{
    display: none;
  }
  .width-full{
    width: 100% !important;
  }
  .wrap{
    width: 90%;
  }
}

@media screen and (max-width: 1023px) {
  .hide-1023px{
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .main-wrap{
    margin-top: 20px;
  }
}
