@import "./common";
@import "./tag";
@import "./class";
@import "./iconfont";

::selection{
  background: $colorBlue;
  color: #fff;
}

body {
  overflow-x: hidden;
  background: $colorGay2;
  font-size: 14px;
  font-family: "PingFangSC-Regular", Microsoft Yahe;
  font-weight: lighter;
  color: $colorTextMain;
}
