@import "./common";
@import "./tag";
@import "./class";
@import "./iconfont";

::selection{
  background: $colorBlue;
  color: #fff;
}

.iconfont-colour {
  width: 30px;
  height: 30px;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

body {
  overflow-x: hidden;
  background: $colorGay2;
  font-size: 14px;
  font-family: "PingFangSC-Regular", Microsoft Yahe;
  font-weight: lighter;
  color: $colorTextMain;
}

.main-wrap{
  margin: 50px auto 0;
}

@media screen and (max-width: 1200px) {
  .hide-1200px{
    display: none;
  }
  .width-full{
    width: 100% !important;
  }
  .wrap{
    width: 90%;
  }
}

@media screen and (max-width: 1023px) {
  .hide-1023px{
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .main-wrap{
    margin-top: 20px;
  }
}
