@font-face {
  font-family: 'iconfont';  /* project id 552040 */
  src: url('//at.alicdn.com/t/font_552040_z0nmx8ac5adlhaor.eot');
  src: url('//at.alicdn.com/t/font_552040_z0nmx8ac5adlhaor.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_552040_z0nmx8ac5adlhaor.woff') format('woff'),
  url('//at.alicdn.com/t/font_552040_z0nmx8ac5adlhaor.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_552040_z0nmx8ac5adlhaor.svg#iconfont') format('svg');
}
.iconfont{
  font-family: "iconfont" !important;
  font-size: 14px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
// 主页
.icon-home1:before{
  content: "\e649";
}
.icon-home2:before{
  content: "\e69e";
}
// 关于
.icon-about:before{
  content: "\e63c";
}
.icon-about1:before{
  content: "\e645";
}
.icon-about2:before{
  content: "\e61f";
}
// 信息
.icon-message:before{
  content: "\e619";
}
// 链接
.icon-link:before{
  content: "\e6af";
}
.icon-link2:before{
  content: "\e622";
}
// 时间
.icon-time:before{
  content: "\e6c1";
}
.icon-time1:before{
  content: "\e62a";
}
// 赞
.icon-zan:before{
  content: "\e681";
}
// hot
.icon-hot:before{
  content: "\e688";
}
.icon-hot1:before{
  content: "\e6a0";
}
// 标签
.icon-tag:before{
  content: "\e636";
}
// 返回顶部
.icon-back-top:before{
  content: "\e6e7";
}
// 菜单
.icon-menu:before{
  content: "\e605";
}
// 搜索
.icon-search:before{
  content: "\e607";
}
// 搜索
.icon-close:before{
  content: "\e601";
}
// 公告
.icon-notice1:before{
  content: "\e64b";
}
.icon-notice2:before{
  content: "\e6df";
}
// 统计
.icon-count:before{
  content: "\e64a";
}
// 图片
.icon-picture:before{
  content: "\e64c";
}
// 表情
.icon-expression:before{
  content: "\e600";
}
// 表情
.icon-code:before{
  content: "\e7ae";
}
